<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        width: 20%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <ul>
      <li id="name">name: Forrest Gump</li>
      <li id="summary">
        summary: The presidencies of Kennedy and Johnson, the Vietnam War, the
        Watergate scandal and other historical events unfold from the
        perspective of an Alabama man with an IQ of 75, whose only desire is to
        be reunited with his childhood sweetheart.
      </li>
      <li id="releaseDate">releaseDate: 1994-07-06</li>
      <li id="director">director: Robert Zemeckis</li>
      <li id="writers">writers: Eric Roth, Winston Groom</li>
      <li id="genres">genres: Drama, Romance</li>
      <li id="cast">cast: Tom Hanks, Gray sinise</li>
      <li id="imdbRate">imdb Rate: 8.8</li>
      <li id="rating">rating: 9</li>
      <li id="duration">duration: 142 minutes</li>
      <li id="ageLimit">ageLimit: 9</li>
    </ul>
    <table>
      <tr>
        <th>nickname</th>
        <th>comment</th>
        <th>likes</th>
        <th>dislikes</th>
      </tr>
    </table>
  </body>
</html>
